@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Marcellus&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Prata&display=swap');

body {
  background-color: #006D77;
  /* For browsers that do not support gradients */
  background-image: linear-gradient(#39848b, #b1e3df);
  scroll-behavior: smooth;
  font-size: large;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin: auto;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

section {
  margin-top: 150px;
  padding-top: 40px;
  padding-bottom: 400px;
  margin: 100px;
}

/*Font Styling for Big Title*/
.big-title {
  font-size: 35pt;
}

/*Font Styling for h2*/
.welcome,
.quote,
.ask,
.deets,
.pptitle {
  font-size: 24pt;
  font-family: 'Poppins', Helvetica, sans-serif;
}

/*Font Styling for quotes*/
.quote-1 {
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Josefin Slab', serif;
}

.quote-2 {

  font-size: 15pt;
  font-family: 'Prata', serif;
}

.quote-3 {
  font-size: 18pt;
  font-family: 'Marcellus', serif;
}


.quiz-rules, .slides,
.ass-rules,
.ppdesc,
p {
  font-family: 'Arvo', serif;
}

/* Navigation Styling */
ul#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFDDD2;
  text-align: center;
  z-index: 2;
}

#navigation li {
  float: left;
}

#navigation li a {
  display: block;
  width: 125px;
  height: 25px;
  font-size: 13pt;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  background-color: #FFDDD2;
  color: #006D77;
  padding: 10px;
  text-align: center;
}

#navigation li a:hover {
  background-color: #006D77;
  color: #FFDDD2;
}

.active {
  background-color: #E29578;
  color: #edf6f9;
}

.welcome {
  position: relative;
  height: 100px;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}
/* Form Styling */
form {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  font-family: 'Arvo', serif;
}

input,
textarea {
  font-size: 12pt;
  font-family: 'Arvo', serif;
  border: 2px solid rgb(15, 47, 44);
  background-color: white;
  padding: 20;
  margin: 10;
  width: 100%;
  height: normal;
  line-height: normal;
  text-align: center;
}


#quiz-rules ol {
  font-family: 'Arvo', serif;
}

/*

huge huge section for the quiz slideshow coming up 

.carousel {
  position: relative;
  height: 600px;
  width: 80%;
  margin: 0 auto;
}

.carousel_images {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel_track-container {
  background: #EDF6F9;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel_button {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel_button--left {
  left: -55px;
}

.carousel_button--right {
  right: -55px;
}

.carousel_button img {
  width: 40px;
}

.carousel_nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #006D77;
  margin: 0 9px;
  cursor: pointer;
}

.carousel_indicator.current-slide {
  background: #09373b;
}

.is-hidden {
  display: none;
}

*/
.carousel-wrapper{
  height:400px;
  position:relative;
  width:800px;
  margin:0 auto;
  opacity: 90%;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity: 50%;
  transition: all 0.5s ease-in-out;
  color:#000000;
  font-weight: lighter;
}
.arrow{
  border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }


/*Select every element*/
[id^="item"] {
    display: none;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('https://images.unsplash.com/photo-1619431843665-54babc76ac8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1242&q=80');
  background-size:cover;
  }

.item-2{
  z-index: 2;
  opacity: 1;
  background:url('https://images.unsplash.com/photo-1501419737817-eadda6b445e3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1675&q=80');
   background-size:cover;
}

.item-3{
  z-index: 2;
  opacity: 1;
  background:url('https://images.unsplash.com/photo-1597200381847-30ec200eeb9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80');
   background-size:cover;
}

.item-4{
  z-index: 2;
  opacity: 1;
  background:url('https://images.unsplash.com/photo-1509909756405-be0199881695?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8aGFwcHl8ZW58MHx8MHx8&auto=format&fit=crop&w=400&q=60');
   background-size:cover;
}

.item-5{
  z-index: 2;
  opacity: 1;
  background:url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1746&q=80');
   background-size:cover;
}

#item-1:target ~ .item-1, #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5 {
    opacity: 0;
  }

#item-1:target ~ .item-1, #item-2:target ~ .item-2, #item-3:target ~ .item-3, #item-4:target ~ .item-4, #item-5:target ~ .item-5{
    opacity: 1;
  }

  #item-1:target ~ .item-1, #item-2:target ~ .item-2, #item-3:target ~ .item-3,  #item-4:target ~ .item-4, #item-5:target ~ .item-5{
    z-index: 3;
    opacity: 1;
  }




/*Round fancy button styling*/
.buttonround {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #09373b;
  background-color: #FFDDD2;
  text-align: center;
  transition: all 0.2s;
}

.buttonround:hover {
  background-color: #E29578;
}

@media all and (max-width:30em) {
  .buttonround {
    display: block;
    margin: 0.2em auto;
  }
}

label {
  display: block;
  font: 1rem 'Roboto', sans-serif;
}

input,
label {
  margin: .4rem 0;
}